$primary-color: #0cd14d;
$secondary-color: #2f2e41;
header {
  width: 320px;
  #circleBackground {
    background: #0cd14d;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    #strainAbbrev {
      font-size: 2rem;
      color: $secondary-color;
    }
  }
  h1 {
    text-align: center;
    color: $secondary-color;
  }
}
