$primary-color: #0cd14d;
$secondary-color: #2f2e41;
$tertiary-color: #ff6584;

header {
  width: 100%;
  #circleBackground {
    background: rgb(12, 209, 78);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    #strainAbbrev {
      font-size: 2rem;
      color: $secondary-color;
    }
  }
  h1 {
    text-align: center;
    color: $secondary-color;
  }

  .potencyPercentage {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 0.75rem;
    #thcBar,
    #cbdBar {
      width: 4rem;
      height: 0.5rem;
      border: 0.07rem solid $primary-color;
      // box-shadow: 0 0 2px 0 $primary-color;
      margin-top: 1.5rem;
      border-radius: 5px;
    }
    #thcBarFull {
      height: 0.5rem;
      background-color: $secondary-color;
      width: 83%;
      border-radius: 5px;
    }

    #cbdBarFull {
      height: 0.5rem;
      background-color: $tertiary-color;
      width: 50%;
      border-radius: 5px;
    }
    p {
      font-size: 0.65rem;
      text-align: center;
    }
  }
  .race {
    text-transform: capitalize;
    text-align: center;
  }
}
