header {
  width: 100%;
}

header #circleBackground {
  background: #0cd14e;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto 0 auto;
}

header #circleBackground #strainAbbrev {
  font-size: 2rem;
  color: #2f2e41;
}

header h1 {
  text-align: center;
  color: #2f2e41;
}

header .potencyPercentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 0.75rem;
}

header .potencyPercentage #thcBar,
header .potencyPercentage #cbdBar {
  width: 4rem;
  height: 0.5rem;
  border: 0.07rem solid #0cd14d;
  margin-top: 1.5rem;
  border-radius: 5px;
}

header .potencyPercentage #thcBarFull {
  height: 0.5rem;
  background-color: #2f2e41;
  width: 83%;
  border-radius: 5px;
}

header .potencyPercentage #cbdBarFull {
  height: 0.5rem;
  background-color: #ff6584;
  width: 50%;
  border-radius: 5px;
}

header .potencyPercentage p {
  font-size: 0.65rem;
  text-align: center;
}

header .race {
  text-transform: capitalize;
  text-align: center;
}

#strainEffects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#strainEffects div {
  width: 90%;
  margin: 0 auto;
}

#strainEffects img,
#strainEffects svg {
  width: calc(100% - 1rem);
  padding: 1rem;
}

#strainEffects svg {
  padding: 0;
}

#strainEffects p {
  text-align: center;
}

#strainEffects #medicalEffects {
  width: 100%;
}

#strainEffects #medicalEffects a {
  border: 0.05rem solid #5cdb95;
  color: #5cdb95;
}

#strainEffects #medicalEffects a:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 #5cdb95;
          box-shadow: 0 0.4rem 1.4rem 0 #5cdb95;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  border: none;
}

#strainEffects #generalEffects {
  width: 100%;
}

#strainEffects #generalEffects a {
  color: #f1cd00;
  border: 0.05rem solid #ffd700;
}

#strainEffects #generalEffects a:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 217, 0, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 217, 0, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  border: none;
}

#strainEffects #sideEffects {
  width: 100%;
}

#strainEffects #sideEffects a {
  border: 0.05rem solid #ff4845;
  color: #ff4845;
}

#strainEffects #sideEffects a:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 72, 69, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 72, 69, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  border: none;
}

#strainEffects #flavors {
  width: 100%;
  margin-bottom: 2rem;
}

#strainEffects #flavors a {
  border: 0.05rem solid #4561ff;
  color: #4561ff;
}

#strainEffects #flavors a:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(69, 97, 255, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(69, 97, 255, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  border: none;
}

#strainEffects div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
}

#strainEffects a {
  list-style-type: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.effects-header {
  width: 90%;
  margin: 0 auto;
}

#navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#navButtons a {
  margin-top: 1rem;
  color: #0cd14d;
  text-decoration: none;
  background: #2f2e41;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  width: 1.5rem;
}

#navButtons a .endNavBtn {
  color: #0cd14d;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navButtons a:first-of-type {
  margin-right: 3rem;
}

.strainInfo {
  background: #2f2e41;
  padding: 1rem;
}

.strainInfo h2 {
  color: #0cd14d;
}

.strainInfo #strainDesc {
  color: #fff;
}

@font-face {
  src: url(/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(/fonts/OpenSans-Light.ttf);
  font-family: OpenSans Light;
}

h1,
p {
  font-family: OpenSans;
}

a {
  font-family: OpenSans Light;
}

.race {
  font-family: OpenSans;
}

/* HUD */
#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a4eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a4eb;
  width: 0%;
}
/*# sourceMappingURL=style.css.map */